@import url("https://raw.githubusercontent.com/AnzenKodo/punk/master/css/punk.css");
@import url("https://raw.githubusercontent.com/AnzenKodo/punk/master/css/punk-heighlight.css");

body {
  font-family: system-ui, sans-serif;
  letter-spacing: .05em;
}

.list {
  list-style: disc;
  padding: 1em;
}
.list > li {
  margin: 1em;
}
.list-name {
  font-size: 2em;
}
.list .meta {
  margin-bottom: 0;
}

.meta {
  margin:0;
  margin-bottom: 3em;
  padding:0;
  font-size: .8em;
}
.meta li {
  display: inline-block;
}
.meta li::before {
  content: '•';
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: .2em;
}
.meta li:first-child::before {
  content: '';
  margin-right: 0em;
}
.meta-name {
  font-weight: bold;
}

.footnotes-sep {
  margin-top: 2em;
}
